@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

h1 {
  font-family: "Kode Mono", monospace;
  text-shadow: #0078ef 3px 3px 3px;
  text-align: center;
  margin-top: 5%;
  font-style: italic;
  align-items: center;
}

body {
  background: linear-gradient(to top, #7f8c8d, #373a3a);
  min-height: 100vh;
}

#preposts {
  position: relative;
  background-color: #252b30;
  border: #373a3a 2px solid;
  width: 30%;
  padding: 1%;
  margin-left: 33%;
}

#posts {
  position: relative;
  background-color: #7f8c8d;
}

a:visited {
  color: black;
}




<!--
 /* unvisited link */
 a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
} 

-->